*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ac1045;
    color:aliceblue;
}
h1{
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid white;
}
.coupon{
    width: 25%;
    height: auto;
    margin: auto;
    background-clip: padding-box;
    border-radius: 15px;
    border: 5px dotted;
    background: #41225e;
}
#coupon{
    width: 100%;
    height: 250px;
}
h2{
    padding: 10px;
}
.coupon-text{
    padding: 10px;
}
.coupon-code{
    padding: 10px;
    background: #bbb;
    color: black;
}
#code{
    background-color: gray;
    padding: 5px;
}
#ex{
    color: red;
    padding: 5px;
}
.buttonstyle{
    border: transparent;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 0;
    background: #6d6d6d;
    color:#eee !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 25px;
    text-decoration: none;

}
.buttonstyle:hover{
    background-color: #1e1e1e;
    color: #fff;
}